
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Identificaci&oacute;n</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persons of datosPersona " >
            <td>{{ persons.id }}</td>
            <td>{{ persons.nombre }}</td>
            <td>{{ persons.apellido }}</td>
            <td>{{ persons.edad }}</td>
            <td>{{ persons.numeroIdentificacion }}</td>
            <td>{{ persons.numeroCelular }}</td>
            <td>{{ persons.correo }}</td>
          </tr>
        </tbody>
      </table>
</div>
